### These env vars are for authentication & database to work. If you don't require them, feel free to enter dummy values for all these.

# Create a free PostgreSQL database: https://vercel.com/postgres
# If you're deploying this template with a Vercel Deploy Button, these will be configured automatically for you.
POSTGRES_PRISMA_URL=postgres://default:R6bcktDns9Ap@ep-restless-wood-a49tgeig-pooler.us-east-1.aws.neon.tech/verceldb?pgbouncer=true&connect_timeout=15&sslmode=require
POSTGRES_URL_NON_POOLING=postgres://default:R6bcktDns9Ap@ep-restless-wood-a49tgeig.us-east-1.aws.neon.tech/verceldb?sslmode=require

# Follow the instructions here to create a Google OAuth app: https://refine.dev/blog/nextauth-google-github-authentication-nextjs/#for-googleprovider-make-sure-you-have-a-google-account
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Only for production – generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_SECRET=76a296714dc5765ee3dd3e12de7d8512

## Only required for localhost
NEXTAUTH_URL=http://localhost:3000